@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Noto+Serif:wght@700&family=PT+Serif:wght@400;700&display=swap');
.header{
    background-color: #2874f0;
    padding-top: 15px;
    padding-bottom: 15px;
}
header{
    z-index: 1;
    width: 100vw;
}
.sticky{
    position: fixed;
    top: 0;
}
#main{
    padding: 12px 3px;
    border-bottom: 1.2px solid #d4d6d9;
}
.brand{
    width: 70%;
}
#logo{
    width: 100px;
}
footer{
    height: calc(100px - 20px);
    background: #172337;
    color: aliceblue;
}
.text-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
ul.horizontal{
    list-style: none;
    justify-items: stretch;
    padding-left: 0;
}
ul.horizontal>li{
    display: inline;
    padding: 0px 43px;
    font-size: 15px;
}
@media screen and (max-width:1000px) {
    ul.horizontal>li{
        display: inline;
        padding: 0px 5px;
    }
}
.input-search{
    min-width: 370px;
    width: 28vw;
    border-radius: 0;
    margin-left: 10px;
}
.submenu{
    display: none;
    box-shadow:  0 0 10px rgb(156, 152, 152);
    border-radius: 4px;
}
.submenu>ul{
    background-color: white;
    padding: 0;
    margin-bottom: 0;
    
}
.submenu>ul>li{
    color: black;
    font-size: 14px;
    padding: 8px 20px;
    padding-right: 40px;
}
.submenu>ul>li>a{
    text-decoration: none;
    color: black;
}
.li1{
    display: block;
    font-size: 17px;
    margin: 0;
    padding: 3px 10px;
    color: white;
}

#dropdown:hover .submenu{
    display: block;
     position: absolute;
     margin-top: 5px;
     margin-left: -57px;
     font-weight: 200;
 }
 #dropdown:hover{
    font-weight: 700;
 }
 #hr-dropdown{
     padding: 0;
     margin: 0;
     opacity: 0.073;
     height: 0.08px;
 }
 #dropdown{
     list-style-type: none;
 }
#search-btn{
    border: none;
    background-color: white;
    height: 30px;
    position: relative;
    left: -43px;
    top: 2px;
}
#login{
    margin-left: 2vw;
    padding:0 min(55px,2vw);
    border-radius: 0;
    border:0;color:#2874f0;
    background-color:white;
    height:30px;
    position:relative;
    top:2px;
    font-weight: 700;
    box-shadow: 0 0 3px rgb(139, 139, 139);
    border-radius: 1px;
}
.catalog{
    width: 64px;
}
.t1{
    border-collapse: separate;
    border-spacing: 100px;
    
}
.t1>td{
    width: 7.13vw;
    text-align: center;
    vertical-align: middle;
}
.t1>td>a{
    text-decoration: none;
    font-size: 14px;
    color: black;
    font-weight: 530;
}
.t1>td>a:hover{
    color: rgb(15, 95, 241);
}
.t1>td{
    text-align: center;
    vertical-align: top;
    
}
#table2-row1>td{
    vertical-align: middle;
}
.slide{
    display: none;
    margin: auto;
}
.img-slide{
    width:80vw;
}
#offer-img1{
    border-radius: 7px;
    box-shadow: 0 0 5px rgba(112, 111, 111, 0.616);
    width: 70vw;
}
.content-div{
    text-align:center;
    margin: 20px 9.75vw;
    background-color:white;
    box-shadow:0 0 5px rgba(155, 154, 154, 0.459);
    padding:10px 0px;
    overflow: auto;
}
.blue{
    color: #2874f0;
}
#content{
    height: 2000px;
    background-color: #f1f3f6;
}
.items1{
    width: 9vw;
}
.items1:hover{
    transform: scale(1.04);
}
.items2:hover{
    transform: scale(1.04);
}
.items2{
    height: 150px;
}
.btn-class-blue{
    background-color: #2874f0;
    border: 0px;
    border-radius: 2px;
    color: white;
    font-weight: 400;
    padding: 8px 12px;
    font-size: 11px;
}
.green-text{
    color: #409244;
    font-size: 14px;
    font-family: 'Barlow Condensed', sans-serif;
}
.gray-text{
    color: #929292;
    font-size: 12px;
}
.bold-text{
    font-size: 14px;
    font-family: 'Noto Serif', serif;
    font-weight: 700;
}
::-webkit-scrollbar
{
    width: 5px;
    height: 3px;
}
::-webkit-scrollbar-thumb{
    background: linear-gradient(45deg,rgb(255, 208, 0),rgb(1, 173, 253));
    border-radius: 2.5px;

}
::-webkit-scrollbar-track{
    background: rgb(0, 0, 0);
}